body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1424px;
  height:807px;
}
#u1743 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:160px;
  width:1424px;
  height:807px;
}
#u1743_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2401px;
  height:2px;
}
#u1744 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:119px;
  width:2400px;
  height:1px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
}
#u1744_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u1745 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:24px;
  width:1002px;
  height:41px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u1745_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  word-wrap:break-word;
}
#u1746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1746 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:81px;
  width:216px;
  height:20px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1746_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  white-space:nowrap;
}
#u1747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:2px;
}
#u1747 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:200px;
  width:108px;
  height:1px;
  color:#FFFFFF;
}
#u1747_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:2px;
}
#u1748 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:342px;
  width:67px;
  height:1px;
  color:#FFFFFF;
}
#u1748_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:2px;
}
#u1749 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:391px;
  width:142px;
  height:1px;
  color:#FFFFFF;
}
#u1749_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1750 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:30px;
}
#u1751 {
  border-width:0px;
  position:absolute;
  left:948px;
  top:186px;
  width:22px;
  height:30px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1751_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HiraginoSansGB-W3', 'Hiragino Sans GB W3', 'Hiragino Sans GB';
  font-weight:300;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u1752 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:190px;
  width:22px;
  height:22px;
  font-family:'HiraginoSansGB-W3', 'Hiragino Sans GB W3', 'Hiragino Sans GB';
  font-weight:300;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u1752_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:22px;
  word-wrap:break-word;
}
#u1753 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1754 {
  border-width:0px;
  position:absolute;
  left:1630px;
  top:160px;
  width:85px;
  height:21px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1754_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u1755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
}
#u1755 {
  border-width:0px;
  position:absolute;
  left:1630px;
  top:189px;
  width:126px;
  height:20px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
}
#u1755_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u1756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:30px;
}
#u1756 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:302px;
  width:22px;
  height:30px;
  font-size:10px;
}
#u1756_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u1757 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1758_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1758 {
  border-width:0px;
  position:absolute;
  left:1630px;
  top:242px;
  width:85px;
  height:21px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1758_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u1759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
}
#u1759 {
  border-width:0px;
  position:absolute;
  left:1630px;
  top:271px;
  width:126px;
  height:20px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
}
#u1759_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u1760 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:30px;
}
#u1761 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:377px;
  width:22px;
  height:30px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1761_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HiraginoSansGB-W3', 'Hiragino Sans GB W3', 'Hiragino Sans GB';
  font-weight:300;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u1762 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:383px;
  width:22px;
  height:18px;
  font-family:'HiraginoSansGB-W3', 'Hiragino Sans GB W3', 'Hiragino Sans GB';
  font-weight:300;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u1762_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:22px;
  word-wrap:break-word;
}
#u1763 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1764 {
  border-width:0px;
  position:absolute;
  left:1630px;
  top:328px;
  width:85px;
  height:21px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1764_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u1765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
}
#u1765 {
  border-width:0px;
  position:absolute;
  left:1630px;
  top:357px;
  width:126px;
  height:20px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
}
#u1765_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
