body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
  background:inherit;
  background-color:rgba(27, 27, 27, 0.898039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:120px;
  width:1200px;
  height:100px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:right;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:184px;
  width:226px;
  height:20px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:right;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:140px;
  width:233px;
  height:32px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:184px;
  width:84px;
  height:20px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:184px;
  width:99px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:700;
  font-style:normal;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:239px;
  width:73px;
  height:24px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:700;
  font-style:normal;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:282px;
  width:1200px;
  height:568px;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:48px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:48px;
  font-size:14px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:180px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:834px;
  height:48px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:834px;
  height:48px;
  font-size:14px;
  text-align:left;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:814px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:48px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:0px;
  width:166px;
  height:48px;
  font-size:14px;
  text-align:left;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:200px;
  height:120px;
  font-size:14px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:52px;
  width:180px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:834px;
  height:120px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:48px;
  width:834px;
  height:120px;
  font-size:14px;
  text-align:left;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:814px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:120px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:48px;
  width:166px;
  height:120px;
  font-size:14px;
  text-align:left;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:50px;
  width:146px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:168px;
  width:200px;
  height:80px;
  font-size:14px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:32px;
  width:180px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:834px;
  height:80px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:168px;
  width:834px;
  height:80px;
  font-size:14px;
  text-align:left;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:814px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:80px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:168px;
  width:166px;
  height:80px;
  font-size:14px;
  text-align:left;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:30px;
  width:146px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:160px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:248px;
  width:200px;
  height:160px;
  font-size:14px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:72px;
  width:180px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:834px;
  height:160px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:248px;
  width:834px;
  height:160px;
  font-size:14px;
  text-align:left;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:814px;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:160px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:248px;
  width:166px;
  height:160px;
  font-size:14px;
  text-align:left;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:70px;
  width:146px;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:408px;
  width:200px;
  height:80px;
  font-size:14px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:32px;
  width:180px;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:834px;
  height:80px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:408px;
  width:834px;
  height:80px;
  font-size:14px;
  text-align:left;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:814px;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:80px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:408px;
  width:166px;
  height:80px;
  font-size:14px;
  text-align:left;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:30px;
  width:146px;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:488px;
  width:200px;
  height:80px;
  font-size:14px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:32px;
  width:180px;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:834px;
  height:80px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:488px;
  width:834px;
  height:80px;
  font-size:14px;
  text-align:left;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:814px;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:80px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:488px;
  width:166px;
  height:80px;
  font-size:14px;
  text-align:left;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:30px;
  width:146px;
  word-wrap:break-word;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:184px;
  width:169px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
