body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:227px;
  width:1440px;
  height:60px;
  color:#FFFFFF;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:242px;
  width:33px;
  height:30px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:246px;
  width:65px;
  height:21px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:34px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:241px;
  width:1px;
  height:33px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:227px;
  width:80px;
  height:60px;
  color:#FFFFFF;
  text-align:center;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:80px;
  word-wrap:break-word;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:1462px;
  top:243px;
  width:29px;
  height:30px;
  color:#FFFFFF;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:29px;
  white-space:nowrap;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:1401px;
  top:243px;
  width:29px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:29px;
  white-space:nowrap;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:227px;
  width:80px;
  height:60px;
  color:#FFFFFF;
  text-align:center;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:80px;
  word-wrap:break-word;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:417px;
  width:1440px;
  height:60px;
  color:#FFFFFF;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:432px;
  width:33px;
  height:30px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:436px;
  width:65px;
  height:21px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:34px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:431px;
  width:1px;
  height:33px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:417px;
  width:80px;
  height:60px;
  color:#FFFFFF;
  text-align:center;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:80px;
  word-wrap:break-word;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:417px;
  width:80px;
  height:60px;
  color:#FFFFFF;
  text-align:center;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:80px;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2401px;
  height:2px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:119px;
  width:2400px;
  height:1px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:24px;
  width:1002px;
  height:41px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  word-wrap:break-word;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:81px;
  width:216px;
  height:20px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  white-space:nowrap;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:197px;
  width:43px;
  height:20px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u53_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:386px;
  width:43px;
  height:20px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:227px;
  width:80px;
  height:60px;
  color:#FFFFFF;
  text-align:center;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:80px;
  word-wrap:break-word;
}
#u55_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:417px;
  width:80px;
  height:60px;
  color:#FFFFFF;
  text-align:center;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:80px;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:2px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:1401px;
  top:273px;
  width:90px;
  height:1px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:1575px;
  top:306px;
  width:297px;
  height:40px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  white-space:nowrap;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:54px;
  height:19px;
}
#u58p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
  width:50px;
  height:4px;
}
#u58p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:4px;
}
#u58p001 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:22px;
  height:20px;
}
#u58p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u58p002 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-2px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
}
#u58p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:297px;
  width:44px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
  line-height:normal;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:320px;
  width:155px;
  height:20px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
  line-height:normal;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:2px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:273px;
  width:107px;
  height:1px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:54px;
  height:19px;
}
#u62p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
  width:50px;
  height:4px;
}
#u62p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:4px;
}
#u62p001 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:22px;
  height:20px;
}
#u62p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u62p002 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-2px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
}
#u62p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:297px;
  width:44px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:320px;
  width:195px;
  height:60px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:255px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:1315px;
  top:592px;
  width:179px;
  height:255px;
  color:#FFFFFF;
  text-align:center;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:1338px;
  top:679px;
  width:57px;
  height:20px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:1338px;
  top:711px;
  width:75px;
  height:20px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:1338px;
  top:743px;
  width:57px;
  height:20px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:1338px;
  top:775px;
  width:57px;
  height:20px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:1338px;
  top:607px;
  width:43px;
  height:20px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:1338px;
  top:627px;
  width:99px;
  height:17px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:2px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:1338px;
  top:661px;
  width:135px;
  height:1px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:114px;
  height:19px;
}
#u73p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:110px;
  height:6px;
}
#u73p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:6px;
}
#u73p001 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:22px;
  height:20px;
}
#u73p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u73p002 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:-1px;
  width:4px;
  height:4px;
}
#u73p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:1455px;
  top:617px;
  width:104px;
  height:1px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:1575px;
  top:607px;
  width:313px;
  height:20px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:114px;
  height:19px;
}
#u75p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:110px;
  height:6px;
}
#u75p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:6px;
}
#u75p001 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:22px;
  height:20px;
}
#u75p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u75p002 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:0px;
  width:4px;
  height:2px;
}
#u75p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:1455px;
  top:638px;
  width:104px;
  height:1px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:1575px;
  top:628px;
  width:215px;
  height:20px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  white-space:nowrap;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:140px;
  height:19px;
}
#u77p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:136px;
  height:6px;
}
#u77p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:6px;
}
#u77p001 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:22px;
  height:20px;
}
#u77p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u77p002 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:-1px;
  width:4px;
  height:4px;
}
#u77p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:1429px;
  top:689px;
  width:130px;
  height:1px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:1575px;
  top:679px;
  width:113px;
  height:20px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:1690px;
  top:679px;
  width:77px;
  height:22px;
  text-align:left;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u79_ref {
  border-width:0px;
  position:absolute;
  left:1759px;
  top:691px;
  width:1px;
  height:1px;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:99px;
  height:19px;
}
#u80p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:94px;
  height:6px;
}
#u80p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:6px;
}
#u80p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-9px;
  width:22px;
  height:20px;
}
#u80p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u80p002 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:-1px;
  width:4px;
  height:2px;
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg);
  -ms-transform:rotate(-180deg);
  transform:rotate(-180deg);
}
#u80p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:1249px;
  top:722px;
  width:89px;
  height:1px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:711px;
  width:169px;
  height:20px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:140px;
  height:19px;
}
#u83p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:136px;
  height:6px;
}
#u83p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:6px;
}
#u83p001 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:22px;
  height:20px;
}
#u83p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u83p002 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:-1px;
  width:4px;
  height:4px;
}
#u83p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:1429px;
  top:753px;
  width:130px;
  height:1px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:1575px;
  top:743px;
  width:113px;
  height:20px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:1690px;
  top:743px;
  width:77px;
  height:22px;
  text-align:left;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u85_ref {
  border-width:0px;
  position:absolute;
  left:1759px;
  top:755px;
  width:1px;
  height:1px;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:140px;
  height:19px;
}
#u86p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:136px;
  height:6px;
}
#u86p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:6px;
}
#u86p001 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:22px;
  height:20px;
}
#u86p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u86p002 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:0px;
  width:4px;
  height:2px;
}
#u86p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:1429px;
  top:786px;
  width:130px;
  height:1px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:1575px;
  top:776px;
  width:113px;
  height:20px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:34px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:241px;
  width:500px;
  height:34px;
  color:#CCCCCC;
  text-align:left;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:250px;
  width:16px;
  height:16px;
  color:#D7D7D7;
  text-align:left;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:247px;
  width:57px;
  height:20px;
  color:#CCCCCC;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u93_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:34px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:430px;
  width:500px;
  height:34px;
  color:#CCCCCC;
  text-align:left;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:439px;
  width:16px;
  height:16px;
  color:#D7D7D7;
  text-align:left;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:436px;
  width:57px;
  height:20px;
  color:#CCCCCC;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:1453px;
  top:427px;
  width:40px;
  height:40px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:1463px;
  top:437px;
  width:20px;
  height:20px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:1575px;
  top:439px;
  width:379px;
  height:40px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  white-space:nowrap;
}
#u100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:1338px;
  top:808px;
  width:57px;
  height:20px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:140px;
  height:19px;
}
#u101p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:136px;
  height:6px;
}
#u101p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:6px;
}
#u101p001 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:22px;
  height:20px;
}
#u101p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u101p002 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:0px;
  width:4px;
  height:2px;
}
#u101p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:1429px;
  top:818px;
  width:130px;
  height:1px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:1575px;
  top:808px;
  width:43px;
  height:20px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:1690px;
  top:776px;
  width:77px;
  height:22px;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u103_ref {
  border-width:0px;
  position:absolute;
  left:1759px;
  top:788px;
  width:1px;
  height:1px;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:76px;
  height:19px;
}
#u104p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:72px;
  height:6px;
}
#u104p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:6px;
}
#u104p001 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:22px;
  height:20px;
}
#u104p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u104p002 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-1px;
  width:4px;
  height:4px;
}
#u104p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:447px;
  width:66px;
  height:1px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:700;
  font-style:normal;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:158px;
  width:65px;
  height:21px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:700;
  font-style:normal;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:1223px;
  top:532px;
  width:298px;
  height:60px;
  color:#FFFFFF;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:60px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:1203px;
  top:532px;
  width:20px;
  height:60px;
  color:#FFFFFF;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:1453px;
  top:542px;
  width:40px;
  height:40px;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:1463px;
  top:552px;
  width:20px;
  height:20px;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:733px;
  width:209px;
  height:80px;
  font-family:'微软雅黑', '苹方', '华文细黑', 'PingFang SC', 'Microsoft YaHei', 'STXihei';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:1446px;
  top:274px;
  width:0px;
  height:0px;
}
#u112_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u112_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:38px;
  width:114px;
  height:8px;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
